:root {
  --bs-primary: rgb(18, 52, 110);
  --bs-primary-rgb: 18, 52, 110;
  --bs-secondary: rgb(213, 150, 167);
  --bs-secondary-rgb: 213, 150, 167;
  --accent-color: rgb(137, 166, 216);
}

.theme-cotton-candy {
  --bs-primary: rgb(18, 52, 110);
  --bs-primary-rgb: 18, 52, 110;
  --bs-secondary: rgb(213, 150, 167);
  --bs-secondary-rgb: 213, 150, 167;
  --accent-color: rgb(137, 166, 216);
}

.theme-matcha-latte {
  --bs-primary: rgb(47, 82, 47);
  --bs-primary-rgb: 47, 82, 47;
  --bs-secondary: rgb(225, 223, 214);
  --bs-secondary-rgb: 225, 223, 214;
  --accent-color: rgb(183, 206, 183);
}

.theme-old-necktie {
  --bs-primary: rgb(0, 31, 63);
  --bs-primary-rgb: 0, 31, 63;
  --bs-secondary: rgb(203, 186, 97);
  --bs-secondary-rgb: 203, 186, 97;
  --accent-color: rgb(148, 183, 219);
}

.theme-stone-pool {
  --bs-primary: rgb(51, 51, 51);
  --bs-primary-rgb: 51, 51, 51;
  --bs-secondary: rgb(73, 186, 152);
  --bs-secondary-rgb: 73, 186, 152;
  --accent-color: rgb(148, 183, 219);
}

.theme-creamsicle {
  --bs-primary: rgb(255, 253, 242);
  --bs-primary-rgb: 255, 253, 242;
  --bs-secondary: rgb(255, 152, 0);
  --bs-secondary-rgb: 255, 152, 0;
  --accent-color: rgb(235, 174, 84);
}

.theme-mint-chocolate {
  --bs-primary: rgb(152, 251, 152);
  --bs-primary-rgb: 152, 251, 152;
  --bs-secondary: rgb(64, 42, 0);
  --bs-secondary-rgb: 64, 42, 0;
  --accent-color: rgb(0, 100, 0);
}

.theme-blue-green {
  --bs-primary: rgb(5, 76, 152);
  --bs-primary-rgb: 5, 76, 152;
  --bs-secondary: rgb(132, 211, 118);
  --bs-secondary-rgb: 132, 211, 118;
  --accent-color: rgb(145, 194, 246);
}

.theme-mossy-slate {
  --bs-primary: rgb(51, 51, 51);
  --bs-primary-rgb: 51, 51, 51;
  --bs-secondary: rgb(102, 183, 88);
  --bs-secondary-rgb: 102, 183, 88;
  --accent-color: rgb(33, 109, 19);
}

body {
  font-family: Futura, sans-serif;
  letter-spacing: 0.2em;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.display-1, .display-2, .display-3, .display-4, .display-5, .display-6,
.display-md-1 {
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  letter-spacing: 0;
}

.letter-spacing-0 {
  letter-spacing: 0;
}

body, .text-main {
  color: #104A84;
}

body {
  background-color: #d2f4ff;
}

.hover\:opacity-75:hover {
  opacity: 0.75;
}

@media (min-width: 800px) {
  .display-md-1 {
    font-size: calc(1.625rem + 4.5vw);
    font-weight: 300;
    line-height: 1.2;
  }
}

.vh-50 {
  height: 50vh;
}

.bg-cream {
  background-color: #fff0dd;
}

.container-left {
  max-width: 400px;
  margin-left: auto;
}

.dvh-100 {
  height: 100dvh;
}

.dvh-50 {
  height: 50dvh;
}

.text-accent {
  color: var(--accent-color) !important;
}
